#!/usr/bin/env ruby
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.
#
PAGE_EXTENSION = %w[haml md]
RELATIVIZE = %w[html css]
KINDS = {"guideline" => %r(^/guidelines/[^/]+/$)}
noop = proc {}

preprocess do
  @config[:env] = ENV["NANOC_ENV"].downcase if ENV["NANOC_ENV"]

	@items.each do |item|
    KINDS.find {|type, path| item[:kind] = type if item.identifier =~ path }

    # is_hidden is for sidemap
    item[:is_hidden] = true if item[:hidden]
  end
end

ignore "*/_*/"

compile KINDS["guideline"] do filterify item end
route KINDS["guideline"], &noop

compile "*" do
  filterify item
  layout "default" if PAGE_EXTENSION.include?(item[:extension])

  if @config[:env] == "production"
    ext = rep.raw_path[/[^.]+$/]
    filter :relativize_paths, :type => ext.to_sym if RELATIVIZE.include?(ext)
  end
end

route "*" do routify item end
layout "*", :haml, :format => :html5
