---
title: "Nutirakenduste platvorminõuded"
layout: "default"
---
- content_for :head do
  = stylesheet_tag :platform

%header#header
  %center
    %img.logo(alt="Nutikaitse"){:src => image_path("nutikaitse.png")}
    %h1= @item[:title]
    %h2 Vaata Maailma SA, Majandus- ja kommunikatsiooniministeerium, <time>3. dets 2014</time>

%section#requirements
  %center= @items["/_platform/"].compiled_content
