@import "compass/reset";
@import "compass/css3/box-sizing";

* { @include box-sizing(border-box) }

body {
  background: white;
  color: black;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
}

#guidelines {
  max-width: 620px;
  margin: 20px auto;

  p + p { margin-top: 20px; }

  li + li {
    border-top: 1px dashed #ccc;
    padding-top: 20px;
    margin-top: 20px;
  }
}
