%ol.guidelines
  - @guidelines.each do |guideline|
    %li.guideline
      %div.text
        = guideline.compiled_content(:snapshot => :last)
        = edit_link_to(guideline) if @config[:env] == "development"
