%ol.guidelines
  - @guidelines.each do |guideline|
    %li.guideline
      %div.text
        - unless guideline[:title].empty?
          %h3
            = guideline[:title]
            = edit_link_to(guideline) if @config[:env] == "development"

        = guideline.compiled_content(:snapshot => :last)
