- item = @items["/guidelines/#{name}/"]

- if !item[:hidden] || @config[:env] == "development"
  %li.guideline{:class => item[:hidden] && "hidden", :name => item.name}
    %div.text
      - unless item[:title].empty?
        %h3
          = item[:title]
          = edit_link_to(item) if @config[:env] == "development"

      = item.compiled_content(:snapshot => :last)
