%li.guideline{:class => item[:hidden] && "hidden", :name => item.name}
  %h3
    = item[:title]
    = edit_link_to(item) if @config[:env] == "development"

  %label
    %input(type="checkbox")
    .checkbox

  = yield
